<div class="container-fluid">
  <div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
      <h3>DESLANDES</h3>
    </div>

    <div class="col-auto ms-auto text-end mt-n1">

      <div class="dropdown me-2 d-inline-block position-relative">
        <div class="dropdown-menu dropdown-menu-end">
          <h6 class="dropdown-header">Settings</h6>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-xxl-3 d-flex">
      <div class="card illustration flex-fill">
        <div class="card-body p-0 d-flex flex-fill">
          <div class="row g-0 w-100">
            <div class="col-12">
              <div class="illustration-text p-3 m-1">
                <h4 class="illustration-text">{{ saudacaoUsuario }} de volta, <span>{{ nomeUsuario }}</span></h4>
                <p class="mb-0"></p>
              </div>
            </div>
            <div class="col-6 align-self-end text-end">
            <img src="assets/appdeslandes/img/illustrations/customer-support.png" alt="Customer Support"
              class="img-fluid illustration-img">


            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl-3 d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">Total de atendimentos: <strong>{{ totalGeral }}</strong><br></h3>
              <p class="mb-2">Em {{ currentYear }} um total de: <span class="badge bg-success"> {{
              totalAnoAtual }}</span></p>
              <div class="mb-0">
              </div>
            </div>
            <div class="d-inline-block ms-3">
              <div class="stat " style="background: #4bbf73;">
                <i class="align-middle text-white fas fa-fw fa-book-reader"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl-3 d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">Total de reclamacao: {{ totalGeralReclamacao }}<br></h3>
              <p class="mb-2">Em {{ currentYear }} um total de: <span class="badge bg-danger"> {{
              totalAnoAtualReclamacao }}</span></p>
              <div class="mb-0">
              </div>
            </div>
            <div class="d-inline-block ms-3">
              <div class="stat " style="background: #d9534f;">
                <i class="align-middle text-white fas fa-fw fa-bullhorn"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl-3 d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">Total de audiência: {{ totalGeralAudiencia }}<br></h3>
              <p class="mb-2">Em {{ currentYear }} um total de: <span class="badge bg-info"> {{
              totalAnoAtualAudiencia }}</span></p>

              <div class="mb-0">

              </div>
            </div>
            <div class="d-inline-block ms-3">
              <div class="stat " style="background: #1f9bcf;">
                <i class="align-middle text-white fas fa-fw fa-users-cog"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-12 d-flex">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <div class="card-actions float-end">
            <div class="dropdown position-relative">
              <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                <i class="align-middle" data-lucide="more-horizontal"></i>
              </a>

              <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <h5 class="card-title mb-0">5 Últimos Atendimentos em {{currentYear}}</h5>
        </div>
        <div class="card flex-fill">

          <table class="table table-striped mb-0">
            <thead>
              <tr>
                <th>Codigo</th>
                <th class="d-none d-xxl-table-cell">Reclamantes</th>
                <th class="d-none d-xl-table-cell">Reclamadas</th>
                <th>Status</th>
                <th>Prazo</th>
                <th>Dt. Atendimento</th>
                <th class="d-none d-xl-table-cell text-end">Ações</th>
              </tr>
            </thead>
            <tbody>
           